@model List<Category>

@{
    ViewBag.Title = "Categories";
    Layout = "_Layout";

    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchString = ViewData["SearchString"] as string;
    
}

<h2>@ViewBag.Title</h2>

<a asp-action="Create" class="btn btn-primary">Create new Category</a>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
        </thead>
        
        <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@category.CategoryId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    if (searchPerformed)
    {
        <p>No categories with containing "@searchString" were found</p>
    }
    else
    {
        <p>No categories created yet</p>
    }
    
}