@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
    bool searchPerformed = ViewData["SearchPerformed"] as bool? ?? false;
    string searchString = ViewData["SearchString"] as string;
}

<h2>@ViewBag.Title</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
        <th>Product ID</th>
        <th>Category</th>
        <th>Name</th>
        <th>Price</th>
        <th>In stock</th> <!-- Quantity -->
        <th>Actions</th>
        </thead>
        
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Category.Name</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.CategoryId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@product.CategoryId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <a asp-action="Create" asp-route-categoryId="@ViewBag.CategoryId" class="btn btn-success">Add new Product</a>
    <a asp-controller="Category" asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId" class="btn btn-primary">Back to categories</a>
}   
else
{
    if (searchPerformed)
    {
        <p>No products with containing "@searchString" were found</p>
    }
    else
    {
        <p>No products available yet</p>
    }
}